<div class="shop">
    <p style="padding-top: 2%;">elevator pitch</p>
    <div class= "container-fluid" id= "productGallery">
        <div class="row" id="work">
            <div class="col-sm-3">
            <div class="homeImg">
                <h3>Title</h3>
                <%= image_tag("webdevcloud.jpg", class: "img-responsive", id: "product1") %>
                <p><a type="button" class="btn btn-primary"  href="#portfolio" data-toggle="item3" data-placement="bottom" title="Go to portfolio">View More &raquo;</a></p>
                <p>Description of products here.</p>
            </div>
            <!--end of img-->
           </div>
            <!--end of col-->
            <div class="col-sm-3">
            <div class="homeImg">
                <h3>Title</h3>
                <%= image_tag("webdevcloud.jpg", class: "img-responsive", id: "product2") %>
                <p><a type="button" class="btn btn-primary"  href="#portfolio" data-toggle="item3" data-placement="bottom" title="Go to portfolio">View More &raquo;</a></p>
                <p>Description of products here.</p>
            </div>
            <!--end of img-->
            </div>
            <!--end of col-->
            <div class="col-sm-3">
            <div class="homeImg">
                <h3>Title</h3>
                <%= image_tag("webdevcloud.jpg", class: "img-responsive", id: "product3") %>
                <p><a type="button" class="btn btn-primary"  href="#portfolio" data-toggle="item3" data-placement="bottom" title="Go to portfolio">View More &raquo;</a></p>
                <p>Description of products here.</p>
            </div>
            <!--end of img-->
           </div>
            <!--end of col-->
            <div class="col-sm-3">
            <div class="homeImg">
                <h3>Title</h3>
                <%= image_tag("webdevcloud.jpg", class: "img-responsive", id: "product4") %>
                <p><a type="button" class="btn btn-primary"  href="#portfolio" data-toggle="item3" data-placement="bottom" title="Go to portfolio">View More &raquo;</a></p>
                <p>Description of products here.</p>
            </div>
            <!--end of img-->
            </div>
            <!--end of col-->
            <div class="col-sm-3">
            <div class="homeImg">
                <h3>Title</h3>
                <%= image_tag("webdevcloud.jpg", class: "img-responsive", id: "product5") %>
                <p><a type="button" class="btn btn-primary"  href="#portfolio" data-toggle="item3" data-placement="bottom" title="Go to portfolio">View More &raquo;</a></p>
                <p>Description of products here.</p>
            </div>
            <!--end of img-->
           </div>
            <!--end of col-->
            <div class="col-sm-3">
            <div class="homeImg">
                <h3>Title</h3>
                <%= image_tag("webdevcloud.jpg", class: "img-responsive", id: "product6") %>
                <p><a type="button" class="btn btn-primary"  href="#portfolio" data-toggle="item3" data-placement="bottom" title="Go to portfolio">View More &raquo;</a></p>
                <p>Description of products here.</p>
            </div>
            <!--end of img-->
            </div>
            <!--end of col-->
            <div class="col-sm-3">
            <div class="homeImg">
                <h3>Title</h3>
                <%= image_tag("webdevcloud.jpg", class: "img-responsive", id: "product7") %>
                <p><a type="button" class="btn btn-primary"  href="#portfolio" data-toggle="item3" data-placement="bottom" title="Go to portfolio">View More &raquo;</a></p>
                <p>Description of products here.</p>
            </div>
            <!--end of img-->
           </div>
            <!--end of col-->
            <div class="col-sm-3">
            <div class="homeImg">
                <h3>Title</h3>
                <%= image_tag("webdevcloud.jpg", class: "img-responsive", id: "product8") %>
                <p><a type="button" class="btn btn-primary"  href="#portfolio" data-toggle="item3" data-placement="bottom" title="Go to portfolio">View More &raquo;</a></p>
                <p>Description of products here.</p>
            </div>
            <!--end of img-->
            </div>
            <!--end of col-->
          </div>
            <!--end of row-->







</div>
<!--end of container-->
</div>